.container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
}

.main {
    position: relative;
}

#mainImg {
    width: 100%;
    height: 100vh;
    background-image: url('https://web-video-resource.gentlemonster.com/assets/stories/24-optical/main/campaign-main-banner-pc.jpg');
    background-size: cover;
}

.main-desc {
    position: absolute;
    /* left: 50px; */
    left: 3vw;
    bottom: 50%;
}

.main-desc>p {
    /* font-size: 32px; */
    font-size: 2vw;
    font-family: "Oswald", sans-serif;
}

.section01 {
    margin: 12rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    height: 100%;
    position: relative;
}

.section01Img {
    width: 27%;
    height: 70%;
    overflow: hidden;
    cursor: pointer;
}

.scrollSection {
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.section01Img>img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.section01Img>img:hover {
    transform: scale(1.5) rotate(15deg);
    /* 이미지를 1.2배 확대 */
}

.scrollSection--visible {
    transform: translateY(0);
    opacity: 1;
}

.section02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 0 0 12rem 0;
    height: 100vh;
}

#section02Img {
    width: 45%;
    height: 100%;
    position: absolute;
    /* 가운데 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo1>h1,
.logo2>h1 {
    font-size: 4.7vw;
}

.section03 {
    margin: 0 0 12rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section03Img {
    width: 50%;
}

.section03Img-2 {
    width: 35%;
    margin: 16.5% auto 0 4.3%;
}

.section04 {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.section04Img {
    width: 70%;
}

.section05 {
    width: 100%;
    height: 100%;
    margin: 130px 0;
    /* background-color: #fafafa; */
    position: relative;
    height: 100vh;
}

.section05-title {
    width: 100%;
}

.section05-title>p {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20vw;
    margin: 0;
    position: absolute;
    z-index: -1;
    left: -10vw;
    top: 13vw;
}

.section05-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.section05-img-bx1 {
    width: 30%;
}

.section05-img-bx2 {
    width: 25%;
}

.section05-img-bx1>img,
.section05-img-bx2>img {
    width: 100%;
}

.section05-img-bx1>p {
    margin: 76px 0 8px 0;
    font-weight: bold;
    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
}

.section05-img-bx2>p {
    margin-bottom: 8px;
    font-family: "Nanum Myeongjo", serif;
    font-style: normal;
    font-weight: bold;
}

.section06 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 3vw 12rem 3vw;
}

.sct06-1,
.sct06-2 {
    display: flex;
    gap: 10px
}

.sct06-1>div,
.sct06-2>div {
    flex: 1;
}

.sct06-1>div>img,
.sct06-2>div>img {
    width: 100%;
}

.section07 {
    margin: 0 0 12rem 0;
}

.sct07-1 {
    display: flex;
    justify-content: center;
}

.cl-1,
.cl-2 {
    width: 30%;
    height: auto;
}

.cl-1 {
    margin: 0 0 16% 0;
}

.cl-2 {
    margin: 16% 0 0 0;
}

.sct07-2 {
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
    gap: 13px;
    height: 100%;
}

.sct07-2>img {
    width: 25%;
    height: 70%;
}

.section08 {
    margin: 0 10%;
    position: relative;
}

.sct08-1 img {
    width: 100%;
    position: relative;
}

.sct08-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.sct08-2>h1 {
    font-size: 4vw;
    color: #eee;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sct08-btn {
    justify-content: center;
    display: flex;
    gap: 5%;
}

.sct08-btn>button {
    width: 15vw;
    padding: 1vw;
    background: transparent;
    border: 1px solid #eee;
    color: white;
    font-size: 1vw;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s all;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sct08-btn>button:hover {
    color: black;
    /* background-color: #eee; */
    background: linear-gradient(to bottom, transparent 50%, #eee 50%);
    background-size: 100% 200%;
    /* 배경 크기 100% 200%로 설정하여 세로 두 배로 설정 */
    background-position: 0 bottom;
    /* 초기 배경 위치 설정 */
}

.sticky-scrollUp {
    position: fixed;
    bottom: 1vw;
    left: 50%;
    z-index: 4;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    cursor: pointer;
    background-color: none;
    border: none;
}

.upBtn {
    pointer-events: auto;
    /* 마우스 이벤트 수신 */
    cursor: pointer;
    background: none;
    border: none;
    opacity: 0;
    transition: 0.8s ease;
}

#up {
    width: 2vw;
    height: 2.3vw;
}

.sticky-title {
    position: fixed;
    transform: rotate(90deg);
    white-space: nowrap;
    left: 0;
    top: 50%;
    left: -130px;
    opacity: 0;
    /* 초기에 투명하게 설정 */
    transition: 0.8s ease;
}

.sticky-title>p {
    font-size: 14px;
    color: #494949;
    margin: 0
}

.sticky-title.active,
.upBtn.active {
    opacity: 1;
    /* 요소 보여짐 */
    transition: opacity 0.8s ease;
    /* 부드러운 효과 트랜지션 추가 */
}